.responsive-compare-text {
  font-weight: bold;
  margin-top: 6rem;
  /* color: #fff; */
  font-size: 4.5rem;
}

@media (max-width: 768px) {
  .responsive-compare-text {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .responsive-compare-text {
    font-size: 2.5rem;
  }
}

.responsive-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 85vh;
  flex-direction: column-reverse;
}

@media (max-width: 1024px) {
  .video-container {
    width: 60%;
  }
}

@media (min-width: 1030px) {
  .responsive-container {
    flex-direction: row;
    height: 100vh;
  }
}
