/* img {
  mix-blend-mode: color-burn;
} */

.background-demo {
  background-color: #10172a; /* Default background for small screens */
}

@media (min-width: 1024px) {
  .background-demo {
    background: linear-gradient(95deg, #f5f5f7 50%, #10172a 50%);
  }
}
