.accordionBody {
  border-radius: 10px;
  margin-bottom: 10px;
}
.course-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.green-icon {
  fill: green !important;
}
.grey-icon {
  opacity: 0.6;
}
